body {
	background-color: #fff;
	color: #232629;
	font-family: "Ubuntu", sans-serif;
}

p {
	font-family: "Merriweather", serif;
}

ul.unstyled {
	list-style-type: none;
	padding: 0;
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	font-style: italic;
}

.container {
	width: 700px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

code.code {
	white-space: pre-line;
}
